/* jpg
4907157    roughwh
5183000    colored
paper-g0dcec2322_1920 yellowcard
v996-008   premium

*/

/* @font-face {
    font-family: magilio;
    src: url("../../res/fonts/MagilioRegular-8Mxvg.otf");
  } */

body {
  padding-top: 35px;
  /* background-image: url("https://images.pexels.com/photos/4202924/pexels-photo-4202924.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4202924.jpg&fm=jpg"); */
  background: #eaeded;
  background-repeat: repeat;
  background-size: cover;
}

.zbslide {
  transition: transform 0.2s;
}

.zbslide:hover {
  filter: brightness(80%);
  transform: scale(1.05);
}

.zpimg {
  min-width: 90%;
  min-height: 190px;
  padding: 10px;
  animation: inOut 5s;
}

@media screen and (max-width: 576px) {
  /* side margins to make mobile version look cleaner */
  body {
    margin-left: 10px;
    margin-right: 10px;
  }
  .zpimg {
    min-height: 130px;
  }
}

.zpimg:hover {
  transform: rotate(3deg);
  transition: transform 0.69s;
}

.card {
  filter: brightness(96%);
}

/* add space above to give a little room between grid and header */
.ui.grid {
  margin-top: 20px;
}

.card:hover {
  filter: brightness(100%);
}

.nav-link:hover {
  transform: scale(1.1);
}

/* .o-jumbo__slide {} */

#newsletter1 {
  min-width: 15vh;
}

.offcanvas-collapse,
.open {
  background: #076ae1;
}

/* footer */
.Flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: rem; */
}

footer {
  flex-direction: column;
  max-width: 90vw;
  margin: 0 auto;
  justify-content: space-around;
}

footer ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer_nav.Flex {
  gap: 10rem;
}

.tabs.Flex {
  gap: 4rem;
}

@media screen and (max-width: 600px) {
  .footer_nav.Flex {
    flex-direction: column;
    gap: 3rem;
  }

  .tabs.Flex {
    gap: 8rem;
  }

  .list-unstyled li {
    display: none;
  }
}
