/* jpg
4907157    roughwh
5183000    colored
paper-g0dcec2322_1920 yellowcard
v996-008   premium

*/

/* @font-face {
    font-family: magilio;
    src: url("../../res/fonts/MagilioRegular-8Mxvg.otf");
  } */

body {
  padding-top: 35px;
  /* background-image: url("https://images.pexels.com/photos/4202924/pexels-photo-4202924.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4202924.jpg&fm=jpg"); */
  background: #EAEDED;
  background-repeat: repeat;
  background-size: cover;
}

.menu ul {
  display: inline-flex;
  list-style: none;
}
 
.menu ul li {
  width: 120px;
  margin: 10px;
  font-size: larger;
  margin-top: 20px;
}

.active, .menu ul li :hover {
  background-color: rgb(220, 220, 236);
  border-radius: 3px;
  }


.zbslide {
  transition: transform .2s;
}

.zbslide:hover {
  filter: brightness(80%);
  transform: scale(1.05);
}

.zpimg {
  min-width: 90%;
  min-height: 190px;
  padding: 10px;
  animation: inOut 5s;
}

@media screen and (max-width: 576px) {
  .zpimg{
    min-height: 130px;
  }
}

.zpimg:hover {
  transform: rotate(3deg);
  transition: transform 0.69s;
}

.card {
  filter: brightness(96%);
}

.card:hover {
  filter: brightness(100%);
}

.nav-link:hover {
  transform: scale(1.1);
}

/* .o-jumbo__slide {} */

#newsletter1 {
  min-width: 15vh;
}

.menu .fa {
  margin-left: 7px;

}

.submenu-1{
  display: none;

}
.menu ul li:hover .submenu-1{
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: -10px;
  background: rgb(252, 252, 255); 
  font-size: small;
  
}

.submenu-3{
  display: none;
}

.submenu-4{
  display: none;
}

.submenu-2{
  display: none;
}

.menu ul li:hover .submenu-2{
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: -10px;
  background: rgb(252, 252, 255); 
  font-size: small;
  color: #5c5d81;
}

.menu ul li:hover .submenu-3{
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: -10px;
  background: rgb(252, 252, 255); 
  font-size: small;
  color: #5c5d81;
}


  .menu ul li:hover .submenu-4{
    display: block;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
    background: rgb(252, 252, 255); 
    font-size: small;
    color: #5c5d81;
  }

  .menu ul li:hover .submenu-5{
    display: block;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
    background: rgb(252, 252, 255); 
    font-size: small;
    color: #5c5d81;
  }

  .menu ul li:hover .submenu-6{
    display: block;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
    background: rgb(252, 252, 255); 
    font-size: small;
    color: #5c5d81;
  }

  .submenu-5{
    display: none;
  }
  .submenu-6{
    display: none;
  }